@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;900&family=Raleway:wght@100;300;400;500;700;900&display=swap');

/* 
font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif; 
*/

.documentary {
    height: calc(100%-100px);
    width: 100vw;

    display: flex;
    flex-wrap: wrap;

    margin-top: 100px;
    justify-content: center;
}

.coming-soon {
    width: 100%;
    text-align: center;
}

.synopsis {
    width: 70%;
    text-align: justify;
}