@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;900&family=Raleway:wght@100;300;400;500;700;900&display=swap');

/* 
font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif; 
*/

.documentary {
    height: calc(100%-100px);
    width: 100vw;

    display: flex;
    flex-wrap: wrap;

    margin-top: 100px;
    justify-content: center;
}

.title {
    margin-top: 25px;
    font-size: 3em;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}

.coming-soon {
    width: 100%;
    text-align: center;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 10px;
}

.soil {
    width: 500px;
    height: 300px;

    background: url(./soil.jpg) no-repeat;
    background-size: 100%;
}

.layer {
    height: 100%;
    width: 100%;

    background-color: rgba(25, 25, 25, .5);

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 4em;
}

.synopsis {
    width: 60%;
    text-align: justify;
    margin-top: 25px;
    
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;

    margin-bottom: 50px;
}

#italic {
    font-style: italic;
}