@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;900&family=Raleway:wght@100;300;400;500;700;900&display=swap');

/* 
font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif; 
*/

.resources {
    height: calc(100%-100px);
    width: 100vw;
    margin-top: 100px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.resources-main {
    width: 75%;
}

#body-link {
    color: black;
}

#references-list {
    list-style: none;
}

#reference-link {
    color: blue;
    text-decoration: underline;
}