@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;900&family=Raleway:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
/* 
font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif; 
font-family: 'Yellowtail', cursive;
*/

.nav-container {
    font-family: 'Raleway', sans-serif;
    top: 0px;
    width: 100vw;
    height: 100px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;

    background-color: rgb(0, 125, 30);
}

.logo-name {
    text-decoration: none;
    color: whitesmoke;
    margin-left: 25px;
    font-size: 3em;
    font-weight: 400;

    font-family: 'Yellowtail', cursive;
}

.logo-name:hover {
    text-decoration: none;
}

nav {
    position: fixed;
    right: 0px;
    height: 100px;
    
    display: flex;
    align-items: center;
}

.nav-list {
    height: 100px;
    
    list-style: none;
    
    font-size: 2em;
    font-weight: 200;
    color: whitesmoke;
    text-decoration: none;
}

.nav-list-item {
    height: 100px;
    display: flex;
    align-items: center;

    float: left;
    padding-left: 40px;
    padding-right: 40px;
}

.nav-list-item:hover {
    background-color: rgb(0, 100, 20);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: white;
}